@using Shared.Helper
@model Application.DTO.PermissionGroupDTO

@{
    this.Layout = null;
}

<div class="modal fade" id="detail-permission-group-modal" tabindex="-1" role="dialog" aria-labelledby="detail-permission-group-modalLabel" aria-hidden="true">
    <div class="modal-dialog custom-modal-size" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Model.Title</h5>
                <button type="button" class="close btn" data-bs-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <partial name="_PartialForm" model="Model" />
            </div>

            <div class="modal-footer">
                <div class="row w-100">
                    @if (!Util.IsNullOrZero(Model.IdUserCreated) && !Util.IsNullOrDefault(Model.DatetimeCreate))
                    {
                        <div class="col-6">
                            <strong>Criado por: </strong> <span id="createdBy">@Model.IdUserCreated - @Model.NameUserCreated em @Util.DateHoursMinutes(Model.DatetimeCreate)</span>
                        </div>
                    }
                    @if (!Util.IsNullOrZero(Model.IdUserUpdated) && !Util.IsNullOrDefault(Model.DatetimeUpdated))
                    {
                        <div class="col-6">
                            <strong>Atualizado por: </strong> <span id="createdDate">@Model.IdUserUpdated - @Model.NameUserUpdated em @Util.DateHoursMinutes(Model.DatetimeUpdated)</span>
                        </div>
                    }
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
            </div>
        </div>
    </div>
</div>