@using Application.DTO
@model Application.DTO.PermissionGroupDTO

@{
    this.Layout = null;
}

<table id="permissionGroupTable" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">
                <input type="checkbox" id="selectAll" />
            </th>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PermissionGroupDTO permissionGroupDTO in Model.ListPermissionGroup)
        {
            <tr>
                <td>
                    <input type="checkbox" class="selectItem" />
                </td>
                <td>@permissionGroupDTO.Id</td>
                <td>@permissionGroupDTO.Name</td>
                <td>@permissionGroupDTO.Description</td>
                <td>
                    <div class="dropdown-table">
                        <button class="gear-button" onclick="toggleDropdownMenu(event)">
                            <span class="material-symbols-outlined">
                                settings
                            </span>
                        </button>
                        <ul class="dropdown-table-menu">
                            <li>
                                <a class="d-flex align-items-center" onclick="OpenFormPermissionGroup(@permissionGroupDTO.Id)">
                                    <span class="material-symbols-outlined fs-5 me-2">
                                        edit
                                    </span>
                                    Editar
                                </a>
                            </li>
                            <li>
                                <a class="d-flex align-items-center" onclick="OpenDetailPermissionGroup(@permissionGroupDTO.Id)">
                                    <span class="material-symbols-outlined fs-5 me-2">
                                        info
                                    </span>
                                    Detalhar
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/Domain/StockMovements/TableStockMovements.js" asp-append-version="true"></script>
