@using Application.DTO
@model Application.DTO.ProductDTO

@{
    this.Layout = null;
}

<table id="productsTable" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">
                <input type="checkbox" id="selectAll" />
            </th>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Preço</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Unidade de Medida</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProductDTO product in Model.ListProducts)
        {
            <tr>
                <td>
                    <input type="checkbox" class="selectItem" />
                </td>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>@product.Quantity</td>
                <td>@product.UnitType</td>
                <td>
                    <div class="dropdown">
                        <button class="gear-button">
                            <span class="material-symbols-outlined">
                                settings
                            </span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a onclick="OpenFormProduct(@product.Id)">Editar</a></li>
                            <li><a onclick="OpenDetailProduct(@product.Id)">Detalhar</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/Domain/Product/TableProduct.js" asp-append-version="true"></script>
