@using Shared.Helper
@model Application.DTO.ProductDTO

@{
    this.Layout = null;
}

<div class="modal fade" id="detail-product-modal" tabindex="-1" role="dialog" aria-labelledby="detail-product-modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">@Model.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form -->
                <form id="productForm">
                    <div class="form-group">
                        <label for="id">Id</label>
                        <input type="number" class="form-control" asp-for="Id" disabled />
                    </div>
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" asp-for="Name" required />
                    </div>
                    <div class="form-group">
                        <label for="description">Descrição</label>
                        <input type="text" class="form-control" asp-for="Description" required />
                    </div>
                    <div class="form-group">
                        <label for="price">Preço</label>
                        <input type="number" class="form-control" asp-for="Price" step="0.01" required />
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="row w-100">
                    @if (!Util.IsNullOrZero(Model.IdUserCreated) && !Util.IsNullOrDefault(Model.DatetimeCreate))
                    {
                        <div class="col-6">
                            <strong>Criado por: </strong> <span id="createdBy">@Model.IdUserCreated - @Model.NameUserCreated em @Util.DateHoursMinutes(Model.DatetimeCreate)</span>
                        </div>
                    }
                    @if (!Util.IsNullOrZero(Model.IdUserUpdated) && !Util.IsNullOrDefault(Model.DatetimeUpdated))
                    {
                        <div class="col-6">
                            <strong>Atualizado por: </strong> <span id="createdDate">@Model.IdUserUpdated - @Model.NameUserUpdated em @Util.DateHoursMinutes(Model.DatetimeUpdated)</span>
                        </div>
                    }
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
                <button type="submit" class="btn btn-primary" id="submitProductForm">Salvar</button>
            </div>
        </div>
    </div>
</div>