@using Shared.Helper
@model Application.DTO.EmployeeDTO

@{
    this.Layout = null;
}

<div class="modal fade" id="form-employee-modal" tabindex="-1" role="dialog" aria-labelledby="form-employee-modalLabel" aria-hidden="true">
    <div class="modal-dialog custom-modal-size" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Model.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form -->
                <form id="employeeForm">
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label asp-for="Id">Id</label>
                            <input type="number" class="form-control" asp-for="Id" disabled />
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Name">Nome</label>
                            <input type="text" class="form-control" asp-for="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Email">Email</label>
                            <input type="email" class="form-control" asp-for="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="Password">Senha</label>
                            <input type="password" class="form-control" name="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label asp-for="Function">Função/Cargo</label>
                            <input type="text" class="form-control" asp-for="Function" />
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Status">Situação</label>
                            <select asp-for="Status" class="form-select"
                                asp-items="@(new SelectList(ListStandard.GetListActiveOrInative(), "Value", "Text", Model.Status))">
                            </select>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="row w-100">
                    @if (!Util.IsNullOrZero(Model.IdUserCreated) && !Util.IsNullOrDefault(Model.DatetimeCreate))
                    {
                        <div class="col-6">
                            <strong>Criado por: </strong> <span id="createdBy">@Model.IdUserCreated - @Model.NameUserCreated em @Util.DateHoursMinutes(Model.DatetimeCreate)</span>
                        </div>
                    }
                    @if (!Util.IsNullOrZero(Model.IdUserUpdated) && !Util.IsNullOrDefault(Model.DatetimeUpdated))
                    {
                        <div class="col-6">
                            <strong>Atualizado por: </strong> <span id="createdDate">@Model.IdUserUpdated - @Model.NameUserUpdated em @Util.DateHoursMinutes(Model.DatetimeUpdated)</span>
                        </div>
                    }
                </div>
                <button type="button" class="btn btn-secondary" id="closeEmployeeForm" data-dismiss="modal">Voltar</button>
                <button type="submit" class="btn btn-primary" id="submitEmployeeForm">Salvar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Domain/Employee/Form.js" asp-append-version="true"></script>