@using Application.DTO
@model Application.DTO.EmployeeDTO

@{
}

<table id="employeeTable" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">
                <input type="checkbox" id="selectAll" />
            </th>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Cargo</th>
            <th scope="col">Email</th>
            <th scope="col">Grupo de Permissão</th>
            <th scope="col">Situação</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (EmployeeDTO employee in Model.ListEmployees)
        {
            <tr>
                <td>
                    <input type="checkbox" class="selectItem" />
                </td>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Function</td>
                <td>@employee.Email</td>
                <td>@employee.NamePermissionGroup</td>
                <td>@employee.Status</td>
                <td>
                    <div class="dropdown">
                        <button class="gear-button">
                            <span class="material-symbols-outlined">
                                settings
                            </span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a onclick="OpenFormEmployee(@employee.Id)">Editar</a></li>
                            <li><a onclick="OpenDetailEmployee(@employee.Id)">Detalhar</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/Domain/Employee/TableEmployee.js" asp-append-version="true"></script>
