@using Application.DTO
@using Shared.Helper
@model Application.DTO.StockMovementsDTO

@{
}

<table id="stockMovementsTable" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Produto</th>
            <th scope="col">Unidade de Medida</th>
            <th scope="col">Tipo de Movimentação</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Data e hora</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (StockMovementsDTO stock in Model.ListStockMovements)
        {
            <tr>
                <td>@stock.Id</td>
                <td>@stock.IdProduct - @stock.ProductName</td>
                <td>@stock.UnitType</td>
                <td class="center-align">
                    <span class="chip @ListStandard.GetColorMovementType(stock.MovementType)">
                        <span class="@ListStandard.GetColorMovementTypeText(stock.MovementType)">
                            @ListStandard.GetMovementTypeText(stock.MovementType)
                        </span>
                    </span>
                </td>
                <td>@stock.Quantity</td>
                <td>@Util.DateHoursMinutes(stock.MovementDate)</td>
                <td>
                    <div class="dropdown-table">
                        <button class="gear-button" onclick="toggleDropdownMenu(event)">
                            <span class="material-symbols-outlined">
                                settings
                            </span>
                        </button>
                        <ul class="dropdown-table-menu">
                            <li>
                                <a class="d-flex align-items-center" onclick="OpenDetailStockMovements(@stock.Id)">
                                    <span class="material-symbols-outlined fs-5 me-2">
                                        info
                                    </span>
                                    Detalhar
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/Domain/StockMovements/TableStockMovements.js" asp-append-version="true"></script>
